@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #020913;
}

.navbar {
    grid-template-rows: 1.5fr 1fr;
    display: grid;
    grid-gap: 0.7rem;
    margin-bottom: 2rem;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 4rem;
    position: relative;
    top: 15px;
    border-radius: 2rem;
}

.navs{
    display: flex;
    justify-content: space-evenly;
}

.goto{
    list-style: none;
    padding: 10px 5px 10px 5px;
}

.goto a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #f4f0f0;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
    transition: 0.2s;
    padding: 5px 5px 5px 5px;
}

.goto a:hover{
    color: #f4f0f0;
    background: #fca311;
    box-shadow: 0 0 10px #fca311,0 0 40px #fca311,0 0 80px #fca311;
}

.welcome{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-gap: 0.5rem;
}

.hi{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #b2b2b2;
    font-size: 1rem;
}

.name{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #fca311;
    text-shadow: 0px 3px 4px #043e74;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.job{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: #b2b2b2;
}